---
---


@import normalize.sass
@import typekit.sass
@import variables.sass
@import helpers.sass

/* Lets just set some defaults here... */
*
	box-sizing: border-box

html
	font-family: "lato", sans-serif
	font-size: $base-font-size
	line-height: $base-line-height
	color: #3A3A3A
	background: #FBFBFB

::selection
	background: #81C8BA
	color: #FFF
	text-shadow: none

::-moz-selection
	background: #81C8BA
	color: #FFF
	text-shadow: none

body
	font-size: 1.25rem

h1, h2, h3, h4 h5, h6
	font-family: "ff-meta-serif-web-pro", serif

a
	color: #3A3A3A
	text-decoration: none
	text-shadow: 2px 0 0 #FBFBFB,-2px 0 0 #FBFBFB
	background-image: -webkit-gradient(linear, left top, right top, from(rgba(58, 58, 58, 0.5)), to(rgba(58, 58, 58, 0.5)))
	background-image: -webkit-linear-gradient(left, rgba(58, 58, 58, 0.5) 0%, rgba(58, 58, 58, 0.5) 100%)
	background-image: linear-gradient(to right, rgba(58, 58, 58, 0.5) 0%, rgba(58, 58, 58, 0.5) 100%)
	background-position: 0 1.1em
	background-repeat: repeat-x
	-webkit-background-size: 100% 1px
	background-size: 100% 1px

// a:hover

// a:active

// a:visited

// .blog-post__headline
// 	font-family: $heading-font-family
// .blog-post__headline-sub
// 	font-family: 
// .blog-post__body

@import typography.sass

// Compiled bootstrap grid .sass-ified
@import grid.sass

@import buttons.sass


.row
	max-width: $lg-breakpoint
	margin: 0 auto

	&.row--restrict
		max-width: $reading-width
		margin-left: auto
		margin-right: auto
		float: none

.header
	background: #49B09C
	color: #FFF
	padding: 0

	&--home
		@media (min-width: $sm-breakpoint)
			background-size: 100%
			background-image: url("../images/skyline@2x.png")
			background-repeat: no-repeat
			background-position: bottom

	a:not(.logo)
		color: #FFF
		text-shadow: none
		background: none

		&:hover
			color: #FFF
			text-shadow: 2px 0 0 #49B09C,-2px 0 0 #49B09C
			background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0.5)))
			background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%)
			background-image: linear-gradient(to right, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%)
			background-position: 0 1.1em
			background-repeat: repeat-x
			-webkit-background-size: 100% 1px
			background-size: 100% 1px

nav

	@media (min-width: $sm-breakpoint)
		padding-bottom: 0

	ul
		list-style: none
		padding: 0

	li
		padding: .75rem 0
		text-align: center

		&:last-child
			display: none

			@media (min-width: $sm-breakpoint)
				display: block

		&:not(:first-child)
			padding-top: 1.5rem

			@media (min-width: $sm-breakpoint)
				padding: 2rem 0

.logo,
.logo:hover,
.logo:active,
.logo:visited
	display: block
	height: 3.25rem
	background: url("../images/logo.svg") no-repeat
	background-size: contain

	@media (min-width: $sm-breakpoint)
		height: 4rem

.home--about
	color: #FFF
	padding-bottom: $base-spacing-unit*2

	.profile-picture
		background: url("../images/profile.png") no-repeat
		background-size: cover
		width: 200px
		height: 200px
		border: .5rem solid white
		border-radius: 50%
		display: block
		margin: $half-spacing-unit auto

		@media (min-width: $sm-breakpoint)
			background: url("../images/profile@2x.png") no-repeat
			background-size: cover
			width: 300px
			height: 300px

	h1
		@media (max-width: $sm-breakpoint)
			font-size: 2.5em

		@media (min-width: $sm-breakpoint)
			margin-top: $base-spacing-unit

	p
		@media (min-width: $sm-breakpoint)
			width: 70%
			margin: 0 15% $base-spacing-unit 15%

		// a:link,
		// a:active,
		// a:visited
		// 	color: #FFF
		// 	text-shadow: none
		// 	background: none
		// 	border-bottom: 1px solid #FFF

		// a:hover
		// 	color: #E7E7E7
		// 	text-shadow: none
		// 	background: none
		// 	border-bottom: 1px solid #E7E7E7

.home--work
	padding: $base-spacing-unit 0

	.work__thumb
		@media (min-width: $xs-breakpoint)
			width: 50%
			margin: 0 25%

		@media (min-width: $sm-breakpoint)
			width: 100%
			margin: auto

.home--blog
	padding: $base-spacing-unit 0
	background: rgba(73, 176, 156, 0.25)

	.btn:hover
		background: rgba(73, 176, 156, 0.25)

.homeblog
	.row
		border-bottom: 1px solid rgba(73, 176, 156, 0.25)

		&:last-child
			border: none

.homeblog__link
	display: block
	background: none
	text-align: center
	text-shadow: none
	padding: 0

	&:hover
		background: rgba(73, 176, 156, 0.25)

.homeblog__link--text

	&:first-child
		margin-top: $base-spacing-unit

	&:last-child
		margin-bottom: $base-spacing-unit

	@media (min-width: $sm-breakpoint)
		margin: $base-spacing-unit 0

		&:first-child
			text-align: left

		&:last-child
			text-align: right

.blog__post
	border-bottom: 1px solid rgba(0, 0, 0, .05)
	
.blog__post--link
	background: none
	text-shadow: none
	padding: $base-spacing-unit 0
	

	&:hover
		background: rgba(73, 176, 156, 0.25)

footer
	color: #FFF
	background: #3A3A3A
	padding: 1.5rem 0

	a
		color: #FFF
		text-shadow: none
		background: none

		&:hover
			color: #FFF
			text-shadow: 2px 0 0 #3A3A3A,-2px 0 0 #3A3A3A
			background-image: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.5)), to(rgba(255, 255, 255, 0.5)))
			background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%)
			background-image: linear-gradient(to right, rgba(255, 255, 255, 0.5) 0%, rgba(255, 255, 255, 0.5) 100%)
			background-position: 0 1.1em
			background-repeat: repeat-x
			-webkit-background-size: 100% 1px
			background-size: 100% 1px

.icon
	display: inline-block
	height: 2.75rem
	width: 2.75rem
	margin: .75rem

	&-twitter
		background: url("/images/social/twitter.svg")
		background-size: cover

	&-github
		background: url("/images/social/github.svg")
		background-size: cover

	&-codepen
		background: url("/images/social/codepen.svg")
		background-size: cover

	&-instagram
		background: url("/images/social/instagram.svg")
		background-size: cover

	&-linkedin
		background: url("/images/social/linkedin.svg")
		background-size: cover
