// TypeKit fonts are loading
.wf-loading
	.blog-post__headline,
	.blog-post__headline-sub,
	.blog-post__body
		visibility: hidden

// TypeKit fonts are active
.wf-active
	.blog-post__headline,
	.blog-post__headline-sub,
	.blog-post__body      
		visibility: visible

body
	font-family: "lato", sans-serif