---
layout: default
title: Taylor Jones
isHomepage: true
---

<section class="container-fluid  home--work  text-center">

	<div class="row">

		<h1 class="col-xs-12  text-center  push">Recent Work</h1>

		<div class="col-xs-12">
			
			<ol class="row  list-unstyled">

				{% for project in site.work limit:3 %}
					<li class="col-xs-12  col-sm-4  push--bottom">
						<div class="row">
							<img class="col-xs-12  work__thumb" src="{{ project.thumbnail-path }}" alt="{{ project.display-title }}"/>
							<div class="col-xs-12">
								<a class="text-center" href="{{ project.url }}">{{ project.display-title }}</a>
							</div>
						</div>
					</li>
				{% endfor %}

			<ol>

		</div>		

	</div>

	<div class="row">

		<a href="/work/" class="btn">View More</a>

	</div>

</section>

<section class="container-fluid  home--blog  text-center">

	<div class="row">

		<h1 class="col-xs-12  text-center">From the Blog</h1>

		<ol class="homeblog  col-xs-12  list-unstyled">
			{% for post in site.posts limit:3 %}
				<li class="row">
					<a class="homeblog__link  col-xs-12" href="{{ post.url }}">
						<span class="homeblog__link--text col-xs-12  col-sm-6">{{ post.title }}</span>
						<span class="homeblog__link--text col-xs-12  col-sm-6">{{ post.date | date_to_string }}</span>
					</a>
				</li>
		    {% endfor %}
		</ol>

	</div>

	<div class="row">

		<a href="/blog/" class="btn">Read More</a>

	</div>

</section>
