<section class="home--about  row">

	<div class="profile-picture"></div>

	<h1 class="col-xs-12  text-center">Hi There, I'm Taylor.</h1>

	<p class="col-xs-12">I'm a front end developer living in the midwest, chowing down on barbecue, and working to craft great user experiences. I'm a designer turned developer with a passion for both form and function. Sometimes I <a class="link-unstyled" href="/blog/">blog</a> about my explorations. Got an idea for a sweet project? <a class="link-unstyled" href="/about/#contact">Drop me a line.</a></p>

</section>