<!DOCTYPE html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!-- Take this out when it's all finished -->
        <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">

        <!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->

        <!-- Maybe for production css and js we should clean the _site/css directory and then build the min file from the dev version (/css/main.css) -->

        <!-- DEVELOPMENT CSS -->
        <link rel="stylesheet" href="css/main.css">

        <!-- PRODUCTION CSS - Uncomment when moving to prod -->
        <!-- <link rel="stylesheet" href="/css/main.min.css"> -->

        <!-- TypeKit -->
        <script type="text/javascript">
          (function(d) {
            var config = {
            kitId: 'huk0ufg',
            scriptTimeout: 3000
            },
            h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='//use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
          })(document);
        </script>

    </head>
    <body>

        <div class="site  container-fluid">
          <header class="header  row">
            <div class="col-xs-6"><a class="header_logo" href="/"></a></div>
            <nav class="header_nav  col-xs-6">
            <!-- TODO: REMOVE THIS TOGGLE DANGIT. PUT THE NAV ITEMS INLINE.
            https://medium.com/design-philosophies/apple-and-hamburgers-a17e4099fada -->
              <button class="header_nav-toggle"></button>
              <ul>
                <li><a href="/work/">Work</a></li>
                <li><a href="/blog/">Blog</a></li>
                <li><a href="/about/">About</a></li>
                <li><a href="/resume/">Resume</a></li>
              </ul>
            </nav>
          </header>

          {{ content }}

          <div class="footer">
            <div class="contact">
              <p>
                Your Name<br />
                What You Are<br />
                you@example.com
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="https://github.com/yourusername">github.com/yourusername</a><br />
                <a href="https://twitter.com/yourusername">twitter.com/yourusername</a><br />
              </p>
            </div>
          </div>
        </div>

        <!--<script type="text/javascript" src="js/lib/zepto.min.js"></script>-->

        <script type="text/javascript" src="js/main.js"></script>

    </body>
</html>
