---
layout: default
---

<div class="row  row--restrict  grid">

	<h1 class="col-xs-12  text-center  push--top  flush-bottom">{{ page.display-title }}</h1>

	<p class="col-xs-12  text-center  flush--top">{{ page.subheading-title }}</p>

	<div class="col-xs-12">

		<img src="{{page.large-path1}}" alt="{{page.display-title}} Image 1" class="col-xs-12  col-sm-4">

		<img src="{{page.large-path2}}" alt="{{page.display-title}} Image 2" class="col-xs-12  col-sm-4">

		<img src="{{page.large-path3}}" alt="{{page.display-title}} Image 3" class="col-xs-12  col-sm-4  push--bottom">

		{{ content }}

	</div>

</div>