:root {
  --secondary-bg-color: #f6f6f6;
  --primary-text-color: #373232;
  --text-max-width: 44rem;
  --code-border-radius: 3px;

  --dark: #282c34;
  --white: #ffffff;

  --prism-char: #d8dee9;
  --prism-comment: #999999;
  --prism-keyword: #c5a5c5;
  --prism-lineHighlight: #14161a;
  --prism-primitive: #5a9bcf;
  --prism-string: #8dc891;
  --prism-variable: #d7deea;
  --prism-boolean: #ff8b50;
  --prism-punctuation: #5fb3b3;
  --prism-tag: #fc929e;
  --prism-function: #79b6f2;
  --prism-className: #fac863;
  --prism-method: #6699cc;
  --prism-operator: #fc929e;
}
